* {
    box-sizing: border-box;
  }

  body {
    margin: 0px;
    background-color: #e7f1ff;
    font-family: 'Montserrat', sans-serif;
    background-image: url("/assets/images/Wordpress-Transparent-bg.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 35rem;
  }

  button {
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  button:hover {
    transform: scale(1.07);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /* navbar starts */
  nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem 3rem 1.5rem 4rem;
  }

  nav .logo > img {
      width: 10rem;
  }

  nav .links, .buttons {
    display: flex;
    gap: 1.3rem;
}

  nav .links > a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #272D4E;
  }

  nav .buttons > button {
      text-transform: uppercase;
      width: 180px;
      height: 43px;
      font-size: 14px;
      line-height: 20px;
      border: 2px solid #3789FF;
  }

  nav .buttons > button:nth-child(1) {
    background-color: transparent;
    color: #3789FF;
  }

  nav .buttons > button:nth-child(2) {
    background-color: #3789FF;
    color: #fff;
  }

  nav > .nav-btn {
    display: none;
  }
  nav > #nav-check {
    display: none;
  }

/* navbar ends */

/* header starts */

  header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 1.5rem 2rem 6.5rem 7rem;
  }

  header > .left {
      padding-top: 5rem;
  }

  header > .left > h1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 80px;
    color: #272D4E;
  }

  header > .left > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #94A2B3;
  }

  header > .left > button {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    width: 267px;
    height: 72px;
    background: #3789FF;
    border: 1px solid #3789FF;
  }

  header > .right {
    background-image: url("/assets/images/header-bg1.svg"),
                    url("/assets/images/header-bg2.svg"),
                    url("/assets/images/header-bg3.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left 0 top 90px,
                     right 200px top 0,
                     right 80px top 170px;
    background-size: 26rem, 13rem, 13rem;
    position: relative;
    /* display: grid;
    place-content: center; */
  }

  header > .right > img {
    border-radius: 1rem;
    object-fit: contain;
    height: 25rem;
    /* width: 20rem; */
    position: absolute;
    left: 150px;
    top: 60px;
}

  header > .right > .card {
    width: 280px;
    height: 350px;
    background: #FFFFFF;
    border: 0.998348px solid #E5EFFF;
    border-radius: 20px;
    position: absolute;
    right: -15px;
    bottom: -100px;
    padding: 1rem;
  }

  header > .right > .card > span {
    font-weight: 500;
    font-size: 11.9802px;
    line-height: 15px;
    color: #868686;
  }
  /* .name { */
      /* display: flex; */
  /* } */
  /* header > .right > .card > span:nth-child(1) { */
      /* margin-top: -10px; */
  /* } */

  header > .right > .card > h2 {
    font-weight: 500;
    font-size: 19.9504px;
    line-height: 37px;
    color: #222222;
    display: flex;
  }

  .blue {
    width: 100%;
    height: 45px;
    background: #427595;
    border-radius: 4.99174px;
    font-weight: 500;
    font-size: 11.9802px;
    line-height: 15px;
    display: grid;
    place-content: center;
    color: #FFFFFF;  
    margin-bottom: 10px;  
  }

  .green {
      width: 100%;
      display: flex;
      gap: 2px;
      flex-wrap: wrap;
      margin-bottom: 10px;  
  }

  .green > div {
    padding: 7px 10px;
    background: #00A300;
    border-radius: 4.99174px;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    display: grid;
    place-content: center;
  }

  .red {
    width: 100%;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    margin-bottom: 10px;  
  }

  .red > div {
    padding: 7px 10px;
    background: #FF5722;
    border-radius: 4.99174px;
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    display: grid;
    place-content: center;
  }

  .yellow {
    width: 100%;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    margin-bottom: 10px;  
}

.yellow > div {
  padding: 7px 10px;
  background: #FEBA06;
  border-radius: 4.99174px;
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  color: #FFFFFF;
  display: grid;
  place-content: center;
}
/* header ends */



.possiblities {
    padding: 2rem 8rem;
    margin-bottom: 6rem;
}

.possiblities > h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 70px;
    text-align: center;
    color: #272D4E;
}
.possiblities > p {
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: #858688;
}
.possibility-images {
    /* width: 2rem; */
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
.possibility-images > div {
    width: 350px;
}
.possibility-images > div:nth-child(2) {
    margin-top: 40px;
}
.possibility-images > div:nth-child(3) {
    margin-top: 80px;
}
.possibility-images > div > img {
    box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
    border-radius: 20px;
    /* object-fit: contain; */
    width: 100%;
    /* height: 2rem; */
}
.possibility-images > div > p {
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: #94A2B3;
}
.possibility-images > div > a {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #299EF3;
    text-decoration: none;
}

.blue-section {
    background-image: url("/assets/images/blue-bg.png");
    /* background-image: url("/assets/images/Wordpress-Transparent-bg.svg"); */
    background-repeat: no-repeat;
    /* background-position: top 200px; */
    /* background-size: 35rem; */
    /* background-color: #3789ff; */
    height: 100vh;
    background-size: cover;
    position: relative;
    padding: 6rem;
    margin-bottom: 2rem;
  /* width: 100%;
  overflow: hidden;
   */
}

/* .blue-section:after {
    content: "";
    width: 200%;
    height: 0;
    padding-top: 50%;
    border-radius: 100%;
    background: #ffffff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
  } */
  
  .blue-section > div {
      position: absolute;
      display: flex;
      gap: 2rem;
      align-items: center;
  }

  .blue-section > div > img {
      width: 300px;
  }
  .blue-section > div > div {
    width: 330px;
}
.blue-section > div > div > h3 {
    font-weight: 700;
    font-size: 32px;
    /* line-height: 44px; */
    color: #FFFFFF;
}

.blue-section > div > div > p{
    font-weight: 500;
font-size: 15px;
line-height: 30px;
color: #FFFFFF;
}
.blue-section > div > div > button {
    width: 250px;
height: 60px;
background: #FFBA49;
border-radius: 5px;
border: 1px solid #FFBA49;
font-weight: 600;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
}
  .blue-section > div:nth-child(1) {
      left: 240px;
      top: -20px;
  }
  .blue-section > div:nth-child(2) {
    bottom: -20px;
    right: 240px;
}

.trusted h1 {
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    color: #272D4E;
}
.trusted .img {
    display: flex;
    justify-content: center;
}

.matched h1 {
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    color: #272D4E;
}
.matched p {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #94A2B3;
}
.mbtn {
    display: flex;
    justify-content: center;
}
.matched button {
    width: 200px;
    height: 47px;
    background: #3789FF;
    border: 1px solid #3789FF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

footer {
    background-color: #3789ff;
    color: #fff;
    display: grid;
    justify-content: center;
    grid-gap: 4rem;
    padding: 2rem 4rem;
}
footer p {
    text-transform: capitalize;
}
footer h2 {
    text-transform: uppercase;
}
.footer-top {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}
.footer-bottom {
    display: flex;
    justify-content: center;
}
.footer-img {
    display: flex;
    justify-content: center;
}

/* media queries */
@media (max-width:700px) {
    footer {
        padding: 1rem 2rem;
    }
}
@media (max-width:1120px) {
    nav {
        padding: 1rem;
    }
}

  @media (max-width:1020px) {
    nav {
        padding: 1rem 2rem 1rem 2rem;
    }
    nav > .nav-btn {
      display: block;
      z-index: 99;
    }
    nav > .nav-btn > label {
      display: inline-block;
    }
    nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #000;
    }
    nav > .links{
      position: absolute;
      display: block;
      width: 100%;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 0;
      left: 0px;
      /* padding-top: 10rem; */
    }

    nav > .links a {
        text-align: center;
        color: #fff;
        margin-bottom: 10px;
    }
    nav > .buttons{
        position: absolute;
        display: block;
        width: 100%;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 300px;
        left: 0;
      }
      nav .buttons > button:nth-child(1) {
        background-color: #fff;
        border: 1px solid #fff;
        margin-bottom: 8px;
      }
      nav .buttons > button:nth-child(2) {
        border: 1px solid #fff;
      }
    nav > .links > a, nav > .buttons > button{
      display: block;
      width: 60%;
      margin-left: 21%;
    }
    nav > #nav-check:not(:checked) ~ .links, nav > #nav-check:not(:checked) ~ .buttons {
      height: 0px;
    }
    nav > #nav-check:checked ~ .links {
      height: 100vh;
      overflow-y: auto;
      background-color: #3789FF;
      padding-top: 8rem;
      width: 100%;
    }

    nav > #nav-check:checked ~ .buttons {
        height: 100vh;
        overflow-y: auto;
        background-color: #3789FF;
        padding-top: 4rem;
        width: 100%;
    }
  }




